<robot name="mycar" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:include filename="head.xacro" />
    <xacro:include filename="demo04_car_base.urdf.xacro" />
    <xacro:include filename="demo05_camera.urdf.xacro" />
    <xacro:include filename="demo06_laser.urdf.xacro" />

    <xacro:include filename="gazebo/move.xacro" />
    <xacro:include filename="gazebo/laser.xacro" />
    <!-- <xacro:include filename="gazebo/camera.xacro" /> -->
    <xacro:include filename="gazebo/kinect.xacro" />
</robot>